@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1140px;
  height: auto;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  color: #b1663c;
  font-weight: 800;
  font-style: normal;
  font-family: "Syne";
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 30px;
  color: #1d6154;
  font-weight: 700;
  font-style: normal;
  font-family: "Syne";
}

.active {
  color: #000;
  font-size: 19px;
  font-weight: 700;
}

.errorChamp {
  color: red;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
header nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
header nav ul li {
  padding: 0 10px;
  font-size: 16px;
  font-weight: 400;
}
header nav ul li:hover {
  color: #b1663c;
}

main #introduction {
  display: flex;
  align-items: center;
}
main #introduction figure {
  flex: 1;
}
main #introduction figure img {
  display: block;
  margin: auto;
  width: 80%;
}
main #introduction article {
  flex: 1;
}
main #introduction article h2 {
  margin-bottom: 1em;
}
main #introduction article p {
  margin-bottom: 0.5em;
}
main #portfolio .works-title h2 {
  text-align: center;
}
main #portfolio .button-filtre {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 51px 0;
}
main #portfolio .button-filtre button {
  height: 37px;
  font-size: 16px;
  color: #1d6154;
  font-weight: 700;
  font-style: normal;
  font-family: "Syne";
  line-height: normal;
  justify-content: center;
  text-align: center;
  padding: 9px 10px;
  border-radius: 60px;
  border: 1px solid #1d6154;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.4s ease;
}
main #portfolio .button-filtre button:hover {
  background-color: #1d6154;
  color: #fff;
  transform: scale(1.1);
}
main #portfolio .gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
main #portfolio .gallery img {
  width: 100%;
}
main #contact {
  width: 50%;
  margin: auto;
}
main #contact > * {
  text-align: center;
}
main #contact h2 {
  margin-bottom: 20px;
}
main #contact form {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 30px;
}
main #contact form input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
main #contact form input[type=submit] {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  font-family: "Syne";
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
main #contact form label {
  margin: 2em 0 1em 0;
}
main #contact form textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.mode-edition {
  width: 100%;
  height: 50px;
  margin: 0;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  font-style: normal;
  font-family: "Work Sans";
  gap: 15px;
}

.btn-edition {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #000;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  font-style: normal;
  font-family: "Work Sans";
  border: none;
  cursor: pointer;
}

i {
  font-size: 17px;
  margin-right: 7px;
}

.btn-publish {
  width: 210px;
  height: 35px;
  text-align: center;
  background-color: #fff;
  border: none;
  border-radius: 60px;
  font-size: 14px;
  color: #000;
  font-weight: 500;
  font-style: normal;
  font-family: "Work Sans";
  line-height: 16px;
  cursor: pointer;
}

.btn-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  font-size: 14px;
  color: #000;
  font-weight: 500;
  font-style: normal;
  font-family: "Work Sans";
  border: none;
  cursor: pointer;
}

.edit-image {
  margin-top: 15px;
  margin-left: 55px;
}

.works-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
}
.modal .modal-wrapper {
  text-align: center;
  background-color: #fff;
  width: 630px;
  height: 730px;
  border-radius: 10px;
}
.modal .modal-wrapper .close-btn {
  text-align: right;
  margin: 20px;
}
.modal .modal-wrapper .close-btn .fa-xmark {
  cursor: pointer;
  transition: transform 0.4s ease;
}
.modal .modal-wrapper .close-btn .fa-xmark:hover {
  transform: scale(1.5);
}
.modal .modal-wrapper h3 {
  margin: 40px auto;
  font-size: 26px;
  font-weight: 400;
}
.modal .modal-wrapper .miniatures-gallery {
  display: grid;
  grid-gap: 10px;
  padding: 0px 105px;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 60px;
}
.modal .modal-wrapper button {
  width: 237px;
  height: 36px;
  background-color: #1d6154;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  font-family: "Syne";
  border: none;
  border-radius: 60px;
  cursor: pointer;
  transition: scale 0.4s ease;
}
.modal .modal-wrapper button:hover {
  scale: 1.1;
}
.modal .modal-wrapper .suppr {
  padding-top: 23px;
  color: red;
}

.modify {
  display: flex;
  gap: 10px;
  margin: 10px 0px;
  cursor: pointer;
}

.image {
  display: grid;
}

.image img {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100px;
}

.icons {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
  margin-left: auto;
}

.icons i {
  color: #fff;
  background-color: #000;
  padding: 5px;
  font-size: 9px;
  border-radius: 2px;
  margin: 3px;
  cursor: pointer;
}

.fa-up-down-left-right {
  opacity: 0;
}

.image:hover .fa-up-down-left-right {
  opacity: 1;
}

.separator {
  border-bottom: solid 1px #b3b3b3;
  margin: 30px 105px;
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
}
.modal .modal-wrapper {
  text-align: center;
  background-color: #fff;
  width: 630px;
  height: 730px;
  border-radius: 10px;
}
.modal .modal-wrapper .close-btn {
  text-align: right;
  margin: 20px;
}
.modal .modal-wrapper .close-btn .fa-arrow-left {
  margin-right: 92%;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.modal .modal-wrapper .close-btn .fa-arrow-left:hover {
  transform: scale(1.5);
}
.modal .modal-wrapper .close-btn .fa-xmark {
  cursor: pointer;
  transition: transform 0.4s ease;
}
.modal .modal-wrapper .close-btn .fa-xmark:hover {
  transform: scale(1.5);
}
.modal .modal-wrapper h3 {
  margin: 40px auto;
  font-size: 26px;
  font-weight: 400;
}
.modal .modal-wrapper .add-form {
  display: flex;
  flex-direction: column;
  padding: 0 105px;
  gap: 30px;
}
.modal .modal-wrapper .add-form .add-file-zone {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 169px;
  background-color: #e8f1f6;
}
.modal .modal-wrapper .add-form .add-file-zone i {
  width: 58px;
  height: 58px;
  margin-top: 22px;
  margin-bottom: 15px;
  color: #b9c5cc;
}
.modal .modal-wrapper .add-form .add-file-zone img {
  height: 100px;
  margin: 5px;
}
.modal .modal-wrapper .add-form .add-file-zone label {
  font-size: 14px;
  color: #306685;
  font-weight: 500;
  font-style: normal;
  font-family: "Work Sans";
  margin: 5px;
}
.modal .modal-wrapper .add-form .add-file-zone label[for=add-file] {
  width: 173px;
  height: 36px;
  background-color: #e8f1f6;
  border-radius: 50px;
  padding: 10px 33px;
  cursor: pointer;
}
.modal .modal-wrapper .add-form .add-file-zone p {
  padding-bottom: 19px;
}
.modal .modal-wrapper .add-form input[type=file] {
  display: none;
}
.modal .modal-wrapper .add-form input[type=text] {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  margin-top: 10px;
}
.modal .modal-wrapper .add-form select {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  margin-top: 10px;
}
.modal .modal-wrapper .add-form input[type=submit] {
  padding: 10px 49px;
  background: #A7A7A7;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  font-family: "Syne";
  margin: 0 auto;
  width: 237px;
  height: 36px;
  border-radius: 60px;
  border: none;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.modal .modal-wrapper .add-form input[type=submit]:hover {
  transform: scale(1.1);
}
.modal .modal-wrapper .add-form .separator {
  margin: 0;
}
.modal .modal-wrapper .add-form .add-file-text {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#confirmation-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#confirmation-modal .modal-content {
  text-align: center;
  background-color: #fff;
  width: auto;
  height: auto;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#confirmation-modal .modal-content h1 {
  font-size: 30px;
  color: #1d6154;
  font-weight: 700;
  font-style: normal;
  font-family: "Syne";
  text-align: center;
  margin-bottom: 20px;
}
#confirmation-modal .modal-content p {
  font-size: 18px;
  color: #3d3d3d;
  font-weight: 600;
  font-style: normal;
  font-family: "Work Sans";
  line-height: normal;
  margin-bottom: 20px;
}
#confirmation-modal .modal-content .confirm-button, #confirmation-modal .modal-content .cancel-button {
  height: 36px;
  width: 200px;
  border-radius: 60px;
  border: none;
  background: #1d6154;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  font-style: normal;
  font-family: "Syne";
  text-align: center;
  margin: 5px 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}
#confirmation-modal .modal-content .confirm-button:hover, #confirmation-modal .modal-content .cancel-button:hover {
  background-color: #0e2f28;
  scale: 1.03;
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-section h1 {
  font-size: 38px;
  color: #1d6154;
  font-weight: 700;
  font-style: normal;
  font-family: "Syne";
  margin-top: 150px;
}
.login-section .login-form {
  display: flex;
  flex-direction: column;
}
.login-section .login-form label {
  font-size: 14px;
  color: #3d3d3d;
  font-weight: 500;
  font-style: normal;
  font-family: "Work Sans";
  margin-bottom: 7px;
  margin-top: 35px;
}
.login-section .login-form input {
  width: 379px;
  height: 40px;
  font-size: 25px;
  color: #1d6154;
  background: #fff;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.login-section .login-form input:focus {
  outline: 1px solid #1d6154;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.login-section .login-form .password-container {
  position: relative;
}
.login-section .login-form .password-container .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #1d6154;
  cursor: pointer;
  margin-bottom: 10px;
}
.login-section .login-form .password-container .fa-eye {
  color: grey;
}
.login-section .login-form .password-container .fa-eye-slash {
  color: #1d6154;
}
.login-section .login-error {
  color: #b1663c;
  text-decoration: underline;
  text-underline-offset: 2px;
  margin: 10px;
}
.login-section .login-btn {
  width: 179px;
  height: 36px;
  background: #1d6154;
  border: none;
  border-radius: 60px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  font-family: "Syne";
  margin-top: 27px;
  cursor: pointer;
}
.login-section .login-btn:hover {
  background-color: #0e2f28;
  color: #fff;
  transform: scale(1.1);
}
.login-section .forgot-password {
  font-size: 14px;
  color: #3d3d3d;
  font-weight: 500;
  font-style: normal;
  font-family: "Work Sans";
  margin-top: 26px;
  padding-bottom: 355px;
  text-decoration-line: underline;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */