// -----------------------------------------------------------------------------
// Ce fichier contient tous le scss de la partie Mode Edition.
// -----------------------------------------------------------------------------

.mode-edition {
  width: 100%;
  height: 50px;
  margin: 0;
  background-color: $black;
  @include flex-row-center-center;
  @include fontWorkSans500(16px, $white);
  gap: 15px;
}

.btn-edition {
  @include flex-row-center;
  background: $black;
  @include fontWorkSans500(14px, $white);
  border: none;
  cursor: pointer;
}

i {
  font-size: 17px;
  margin-right: 7px;
}

.btn-publish {
  width: 210px;
  height: 35px;
  text-align: center;
  background-color: $white;
  border: none;
  border-radius: 60px;
  @include fontWorkSans500(14px, $black);
  line-height: 16px;
  cursor: pointer;
}

.btn-edit {
  @include flex-row-center;
  background: $white;
  @include fontWorkSans500(14px, $black);
  border: none;
  cursor: pointer;
}

.edit-image {
  margin-top: 15px;
  margin-left: 55px;
}

.works-title {
  @include flex-row-center-center;
  gap: 15px;
}
