.modify {
	display: flex;
	gap: 10px;
	margin : 10px 0px;
	cursor: pointer;

}


.modal {
	
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top:0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100vw;
	height: 100vh;

}

.modal-wrapper {
	text-align: center;
	background-color: white;
	width: 630px;
	height: 730px;
	border-radius: 10px;
	

}

.close-btn {
	text-align: right;
	margin: 20px;
	cursor: pointer;
}

.modal-wrapper h3 {
	margin: 40px auto;
	font-size: 26px ;
	font-weight: 400;


}

.miniatures-gallery {
	display:grid;
	grid-gap: 10px;
	padding: 0px 105px;
	grid-template-columns: repeat(5 , 1fr);
	margin-bottom: 60px;
}

.image {
	display: grid;
}

.image img {
	grid-column: 1/2;
	grid-row: 1/2;
	width: 100%;
	height: 100px;	
}

.icons {
	grid-column: 1/2;
	grid-row: 1/2;
	z-index: 1;
	margin-left: auto;

}

.icons i {
	color : white;
	background-color: black;
	padding: 5px;
	font-size: 9px;
	border-radius: 2px;
	margin: 3px;
	cursor: pointer;
}

.fa-up-down-left-right {
	opacity: 0;
}

.image:hover .fa-up-down-left-right {
	opacity: 1;
}


.suppr {
	color: red;
}

.separator {
	
	border-bottom: solid 1px #b3b3b3;
	margin: 30px 105px;
}

.modal-wrapper button {
	color: white;
	background-color: #1D6154;
	cursor: pointer;

}




.add-form {
	display: flex;
	flex-direction: column;
	padding: 0 105px;
	gap: 30px;
}


.add-file-text {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.add-file-zone {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 169px;
	background-color: #E8F1F6;
}

.add-file-zone i {
	font-size: 46px;
	margin-top: 28px;
	margin-bottom: 30px;
	color: #B9C5CC;
}

.add-file-zone img {
	height: 100px;
	margin: 5px;

}

.add-file-zone label {
	color : #306685;
	font-weight: 500;
	font-size: 14px;
	margin: 5px;
}

.add-form input[type=file] {
	display: none;
}

label[for=add-file] {
	background-color: #CBD6DC;
	border-radius: 2em;
	padding: 10px 33px;
	cursor: pointer;

}

.add-form input[type=text] {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-top: 10px;
}

.add-form select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-top: 10px;
}

.add-form input[type=submit] {
	/* padding-top: 10px;
	padding-bottom: 10px; */
	padding: 10px 49px;
	margin: 0 auto;
	border: none;
}

.add-form .separator {
	margin: 0;
}