.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;

  & .modal-wrapper {
    text-align: center;
    background-color: white;
    width: 630px;
    height: 730px;
    border-radius: 10px;

    & .close-btn {
      text-align: right;
      margin: 20px;
      cursor: pointer;
    }

    & h3 {
      margin: 40px auto;
      font-size: 26px;
      font-weight: 400;
    }

    & .miniatures-gallery {
      display: grid;
      grid-gap: 10px;
      padding: 0px 105px;
      grid-template-columns: repeat(5, 1fr);
      margin-bottom: 60px;
    }

    & button {
      color: white;
      width: 237px;
      height: 36px;
      background-color: #1d6154;
      font-family: "Syne";
      font-weight: 700;
      font-size: 14px;
      border: none;
      border-radius: 60px;
      cursor: pointer;
      transition: scale 0.4s ease;

      &:hover {
        scale: 1.1;
      }
    }

    & .suppr {
      padding-top: 23px;
      color: red;
    }
  }
}

.modify {
  display: flex;
  gap: 10px;
  margin: 10px 0px;
  cursor: pointer;
}

.image {
  display: grid;
}

.image img {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100px;
}

.icons {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
  margin-left: auto;
}

.icons i {
  color: white;
  background-color: black;
  padding: 5px;
  font-size: 9px;
  border-radius: 2px;
  margin: 3px;
  cursor: pointer;
}

.fa-up-down-left-right {
  opacity: 0;
}

.image:hover .fa-up-down-left-right {
  opacity: 1;
}

.separator {
  border-bottom: solid 1px #b3b3b3;
  margin: 30px 105px;
}
