.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;

  & .modal-wrapper {
    text-align: center;
    background-color: white;
    width: 630px;
    height: 730px;
    border-radius: 10px;

    & .close-btn  {
      text-align: right;
      margin: 20px;

      & .fa-arrow-left {
        margin-right: 92%;
        cursor: pointer;
        transition: transform 0.4s ease;

        &:hover {
          transform: scale(1.5);
        }
      }

      & .fa-xmark {
        cursor: pointer;
        transition: transform 0.4s ease;

        &:hover {
          transform: scale(1.5);
        }
      }
    }

    & h3 {
      margin: 40px auto;
      font-size: 26px;
      font-weight: 400;
    }

    & .add-form {
      display: flex;
      flex-direction: column;
      padding: 0 105px;
      gap: 30px;

      & .add-file-zone {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 169px;
        background-color: #e8f1f6;

        & i {
          font-size: 46px;
          margin-top: 28px;
          margin-bottom: 30px;
          color: #b9c5cc;
        }

        & img {
          height: 100px;
          margin: 5px;
        }

        & label {
          color: #306685;
          font-weight: 500;
          font-size: 14px;
          margin: 5px;
        }

        & label[for="add-file"] {
          background-color: #cbd6dc;
          border-radius: 2em;
          padding: 10px 33px;
          cursor: pointer;
        }
      }

      & input[type="file"] {
        display: none;
      }

      & input[type="text"] {
        height: 50px;
        font-size: 1.2em;
        border: none;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
        margin-top: 10px;
      }

      & select {
        height: 50px;
        font-size: 1.2em;
        border: none;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
        margin-top: 10px;
      }

      & input[type="submit"] {
        padding: 10px 49px;
        margin: 0 auto;
        border: none;
      }

      & .separator {
        margin: 0;
      }

      & .add-file-text {
        display: flex;
        flex-direction: column;
        text-align: left;
      }
    }
  }
}
