// -----------------------------------------------------------------------------
// Ce fichier contient des styles très basiques.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1140px;
  height: auto;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

section {
  margin: 50px 0;
}

h1 {
  @include flex-column;
  @include fontSyne800(22px, $hover-color);
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  @include fontSyne700(30px, $main-color);
}

.active {
  color: $black;
  font-size: 19px;
  font-weight: 700;
}

.errorChamp {
  color: $red;
}
