// -----------------------------------------------------------------------------
// Ce fichier contient toutes les variables Sass.
// -----------------------------------------------------------------------------


// VARIABLES COLORS //

$main-color: #1d6154;
$main-hover: #0e2f28;
$hover-color: #b1663c;

$form-color: #e8f1f6;
$label-color: #306685;
$separator-color: #b3b3b3;

$black: #000;
$white: #fff;
$red: red;

// BACKGROUND COLORS //
$input-bg: #A7A7A7;
$modal-bg: rgba(0, 0, 0, 0.6);


// BOX SHADOWS //
$shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
$shadow-modal: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);